.App {
  text-align: center;
}

/* .alert {
  margin-top: 20px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: flex; 
  padding: auto;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border-radius: 15px;
  height: 60vh;
  width: 300px;
} */