.App {
  text-align: center;
}

/* .alert {
  margin-top: 20px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: flex; 
  padding: auto;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border-radius: 15px;
  height: 60vh;
  width: 300px;
} */
.alert{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: rgb(5, 214, 214);
  /* height: 50%; */
}
.nav{
  text-decoration:none;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  background-color: rgb(5, 214, 214);
  height: 30px;
  border-radius: 20px;
  padding: 10px;
}
.van1{
  text-decoration: none;
  color:aliceblue;
  margin: 30px;
  font-size: 20px;

}